@import url('https://fonts.googleapis.com/css2?family=Allura&family=Unbounded:wght@200;300;400&display=swap');

:root {
    --pink--: #ff009d;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Allura', cursive;
}

/* nav ul .active {
  color: #000000;
} */
